.card-wrapper {
    margin-bottom: 30px;
    color: white;
}

.card-home {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 500px;
  height: 100%;
}
.card-home:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  height: 55%;
  overflow: hidden;  
}
.card-img-wrapper img {
  transition: 1.5s ease;
}
.card-home:hover .card-img-wrapper img {
  transform: scale(1.15);
}
.card-home-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
}
.card-home:hover .card-home-body .card-title {
  margin-bottom: .75rem;
}

.card-home-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  background-color: #1C75BACC;
  transition: 1.5s ease;
}
.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}
.card-home:hover .card-home-body {
  height: 50%;
  background-color: #1C75BA;
}
.card-home:hover .card-content {
  bottom: 0;
}